body {
  background: #FFF;
  color: #000;
  padding: 64px;
  font: 18px/1 "Baskerville", Times, serif;
}

a {
  background: transparent;
  color: #222;
  border-bottom: 1px solid #222;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #E3392D;
  border-color: #E3392D;
}

header,
section,
article,
details {
  display: block;
}

header {
  margin: 0 0 64px 0;
}

header h1 {
  font-size: 48px;
  letter-spacing: -1px;
}

header p {
  background: transparent;
  color: #888;
  margin: 2px 0 0 60px;
  font-size: 19px;
  word-spacing: -2px;
  letter-spacing: 1px;
}

section {
  overflow: hidden;
}

article {
  width: 600px;
  padding: 0 32px 16px 0;
  float: left;
}

details {
  width: 600px;
  float: left;
}

pre {
  background: #000;
  color: #FFF;
  padding: 16px;
  font: 14px/1.3 Monaco, Serif;
}

div {
  width: 288px;
  float: left;
}

div.other {
  float: right;
}

form {
  overflow: hidden;
}

form + p {
  margin: 16px 0 0 0;
}

input {
  width: 276px;
  margin: 4px 0;
  padding: 4px;
}

.jquery-auto-geocoder-map {
  width: 288px;
  height: 198px;
}

div.full {
  width: auto;
  float: none;
}

div.full input {
  width: 588px;
  margin: 4px 0;
  padding: 4px;
}

div.full .jquery-auto-geocoder-map {
  width: 604px;
  height: 320px;
}
