body,
input {
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-serif;
}

body {
  width: 600px;
  margin: 32px auto;
}

h1 {
  margin: 0 0 64px 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -2px;
}

p {
  background: #222;
  color: #FFF;
  padding: 8px;
  font: 12px/1.4 Monaco, "Courier New", Courier, Fixed;
  white-space: pre;
  clear: both;
}

div {
  width: 288px;
  float: left;
}

div.other {
  float: right;
}

input {
  width: 284px;
  margin: 4px 0;
  padding: 4px;
}

.jquery-auto-geocoder-map {
  width: 296px;
  height: 198px;
}

div.full {
  width: auto;
  float: none;
}

div.full input {
  width: 592px;
  margin: 4px 0;
  padding: 4px;
}

div.full .jquery-auto-geocoder-map {
  width: 604px;
  height: 320px;
}
